body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img{
  padding: 0;
  margin: 0;
}
table{
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  margin-top: 20px;
}
.tile{
  width: 50px;
  height: 50px;
}
.colorBlack{
  background-color: #d18b47;
}
.colorWhite{
  background-color: #ffce9e;
}
.onFocus{
  background-color: #7F674F;
}
.blackBishop{
  background-image: url('./img/pieces/bb.svg');
}
.blackKing{
  background-image: url('./img/pieces/bk.svg');
}
.blackKnight{
  background-image: url('./img/pieces/bn.svg');
}
.blackPawn{
  background-image: url('./img/pieces/bp.svg');
}
.blackQueen{
  background-image: url('./img/pieces/bq.svg');
}
.blackRook{
  background-image: url('./img/pieces/br.svg');
}
.whiteBishop{
  background-image: url('./img/pieces/wb.svg');
}
.whiteKing{
  background-image: url('./img/pieces/wk.svg');
}
.whiteKnight{
  background-image: url('./img/pieces/wn.svg');
}
.whitePawn{
  background-image: url('./img/pieces/wp.svg');
}
.whiteQueen{
  background-image: url('./img/pieces/wq.svg');
}
.whiteRook{
  background-image: url('./img/pieces/wr.svg');
}
.activeState{
  background-image: url('./img/active.svg');
}
.activeState.blackBishop{
  background-image: url('./img/active.svg'), url('./img/pieces/bb.svg');
}
.activeState.blackKing{
  background-image: url('./img/active.svg'), url('./img/pieces/bk.svg');
}
.activeState.blackKnight{
  background-image: url('./img/active.svg'), url('./img/pieces/bn.svg');
}
.activeState.blackPawn{
  background-image: url('./img/active.svg'), url('./img/pieces/bp.svg');
}
.activeState.blackQueen{
  background-image: url('./img/active.svg'), url('./img/pieces/bq.svg');
}
.activeState.blackRook{
  background-image: url('./img/active.svg'), url('./img/pieces/br.svg');
}
.activeState.whiteBishop{
  background-image: url('./img/active.svg'), url('./img/pieces/wb.svg');
}
.activeState.whiteKing{
  background-image: url('./img/active.svg'), url('./img/pieces/wk.svg');
}
.activeState.whiteKnight{
  background-image: url('./img/active.svg'), url('./img/pieces/wn.svg');
}
.activeState.whitePawn{
  background-image: url('./img/active.svg'), url('./img/pieces/wp.svg');
}
.activeState.whiteQueen{
  background-image: url('./img/active.svg'), url('./img/pieces/wq.svg');
}
.activeState.whiteRook{
  background-image: url('./img/active.svg'), url('./img/pieces/wr.svg');
}
.deathBox{
  width: 100px;
  height: 400px;
}
.whiteTaken{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: flex-start;
}
.blackTaken{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-content: flex-start;
}
.gameDisplay{
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.turnButton{
  border: 0;
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
  padding: 10px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  border-radius: 6px;
}
.whiteButton{
  background-color: #eeeeee;
}
.blackButton{
  background-color: #111111;
}
.alignHorizontal{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.adjustGameWidth{
  width: 600px;
  margin-left : auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10^px;
}
